<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.lyj.mapper.UserMapper">

    <resultMap id="resultUserMap" type="cn.lyj.entity.User">
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
        <result column="type" property="userType"/>
    </resultMap>

    <select id="selectAll" resultMap="resultUserMap" >
        select *
        from users
        <where>
            type != '管理员' AND type != '超级管理员'
            <if test="name!=null and name!=''">
                and name like concat('%',#{name},'%')
            </if>
            <if test="phone!=null and phone!=''">
                and phone like concat('%',#{phone},'%')
            </if>
        </where>
    </select>

    <select id="selectAllSuper" resultMap="resultUserMap" >
        select *
        from users
        <where>
            type != '超级管理员'
            <if test="name!=null and name!=''">
                and name like concat('%',#{name},'%')
            </if>
            <if test="phone!=null and phone!=''">
                and phone like concat('%',#{phone},'%')
            </if>
        </where>
    </select>

    <select id="selectByCondition" resultMap="resultUserMap" >
        select *
        from users
        <where>
            <if test="id != null">
                and id = #{id}
            </if>
            <if test="username != null and username != ''">
                and username = #{username}
            </if>
            <if test="birthday != null and birthday != ''">
                and birthday = #{birthday}
            </if>
            <if test="sex != null and sex != ''">
                and sex = #{sex}
            </if>
            <if test="address != null and address != ''">
                and address = #{address}
            </if>
        </where>
    </select>

    <insert id="add" parameterType="cn.lyj.entity.User" >
        INSERT INTO users
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="name != null">name,</if>
            <if test="username != null">username,</if>
            <if test="password != null">password,</if>
            <if test="email != null">email,</if>
            <if test="intro != null">intro,</if>
            <if test="phone != null">phone,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="userType != null">type,</if>
        </trim>
        <trim prefix="VALUES (" suffix=")" suffixOverrides=",">
            <if test="name != null">#{name},</if>
            <if test="username != null">#{username},</if>
            <if test="password != null">#{password},</if>
            <if test="email != null">#{email},</if>
            <if test="intro != null">#{intro},</if>
            <if test="phone != null">#{phone},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="userType != null">#{userType},</if>
        </trim>
    </insert>

    <delete id="del">
        DELETE FROM users
        WHERE id = #{id}
    </delete>

    <update id="updateUser" parameterType="cn.lyj.entity.User">
        UPDATE users
        <set>
            <if test="username != null and username != ''">
                username = #{username},
            </if>
            <if test="birthday != null">
                birthday = #{birthday},
            </if>
            <if test="sex != null and sex != ''">
                sex = #{sex},
            </if>
            <if test="address != null and address != ''">
                address = #{address},
            </if>
        </set>
        WHERE id = #{id}
    </update>

    <select id="getUserByPhone" resultMap="resultUserMap" >
        select *
        from users
        where phone = #{phone}
    </select>

    <!--    登录-->
    <select id="getUserByLoginInfo" resultMap="resultUserMap" >
        select *
        from users
        where username = #{username}
          and password = #{password}
    </select>

    <select id="findById" resultMap="resultUserMap" >
        select *
        from users
        where id = #{id}
    </select>

    <select id="getUserByUsername" resultType="cn.lyj.entity.User">
        select *
        from users
        where username = #{username}
    </select>

    <update id="updateById">
        update users
        <set>
            <if test="user.username != null">username = #{user.username},</if>
            <if test="user.name != null">name = #{user.name},</if>
            <if test="user.password != null">password = #{user.password},</if>
            <if test="user.email != null">email = #{user.email},</if>
            <if test="user.phone != null">phone = #{user.phone},</if>
            <if test="user.userType != null">type = #{user.userType},</if>
            <if test="user.age != null">age = #{user.age},</if>
            <if test="user.address != null">address = #{user.address},</if>
            <if test="user.sex != null">sex = #{user.sex},</if>
        </set>
        where id = #{user.id}
    </update>

    <update id="updatePasswordByEmail">
        UPDATE users
        SET password = #{newPassword}
        WHERE email = #{email}
    </update>
</mapper>
