<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--namespace命名空间: 要和mapper持久层层的接口全限定名相同-->
<mapper namespace="cn.lyj.mapper.UserMapper">

    <resultMap id="resultUserMap" type="user">
    </resultMap>

    <insert id="addUser" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO user (name, username, password, phone, type, email, create_time, update_time)
        VALUES (#{name}, #{username}, #{password}, #{phone}, #{type}, #{email}, #{createTime}, #{updateTime})
    </insert>

    <!--    用户信息更新-->
    <update id="updateById">
        update user
        <!--                        <set>-->
        <!--                            <if test="name !=null and name !=''">-->
        <!--                                name = #{user.name},-->
        <!--                            </if>-->
        <!--                            <if test="username !=null and username !=''">-->
        <!--                                username = #{user.username},-->
        <!--                            </if>-->
        <!--                            <if test="password !=null and password !=''">-->
        <!--                                password = #{user.password},-->
        <!--                            </if>-->
        <!--                            <if test="email !=null and email !=''">-->
        <!--                                email = #{user.email},-->
        <!--                            </if>-->
        <!--                            <if test="phone !=null and phone !=''">-->
        <!--                                phone = #{user.phone},-->
        <!--                            </if>-->
        <!--                            <if test="type !=null and type !=''">-->
        <!--                                type = #{user.type},-->
        <!--                            </if>-->
        <!--                        </set>-->
        set username = #{user.username},
        name = #{user.name},
        password = #{user.password},
        email = #{user.email},
        phone = #{user.phone},
        type = #{user.type}
        where id = #{user.id}
    </update>

    <delete id="deleteById">
    delete from user where id =#{id};
    </delete>

    <!--    </delete>-->
    <!--    <delete id="deleteByIds">-->
    <!--        delete from users-->
    <!--        where id in-->
    <!--        <foreach collection="ids" item="id" separator="," open="(" close=")">-->
    <!--            #{id}-->
    <!--        </foreach>-->
    <!--    </delete>-->

    <select id="selectAll" resultMap="resultUserMap">
        select *
        from user
        where  type!='role_admin'
    </select>

    <select id="selectOne" resultMap="resultUserMap">
        select *
        from user
        <where>
            <if test="name!=null and name !=''">
                and name like concat('%',#{name},'%')
            </if>
            <if test="phone!=null and phone !=''">
                and phone like concat('%',#{phone},'%')
            </if>
        </where>
    </select>


    <!--根据手机号查询用户-->
    <select id="getUserByPhone" resultType="cn.lyj.entity.User">
        select *
        from user
        where phone = #{phone}
    </select>

    <!--    根据登录信息查询用户信息-->
    <select id="getUserByLoginInfo" resultType="cn.lyj.entity.User">
        SELECT *
        FROM `user`
        WHERE username = #{username}
          AND `password` = #{password}
    </select>

    <!--    根据id查询用户-->
    <select id="findById" resultType="cn.lyj.entity.User">
        SELECT *
        FROM `user`
        WHERE id = #{id}
    </select>

</mapper>
